/xx/.idea
/xx/Library
/xx/Logs
/xx/obj
/xx/Packages
/xx/Temp
/xx/Assembly-CSharp.csproj
/xx/Assembly-CSharp-Editor.csproj
/xx/Assembly-CSharp-firstpass.csproj
/xx/xx.sln
/xx/ProjectSettings/ProjectVersion.txt
/xx/UnityWebSocket.Runtime.csproj
