/xx/.idea
/xx/Library
/xx/Logs
/xx/obj
/xx/Packages
/xx/Temp
/xx/Assembly-CSharp.csproj
/xx/Assembly-CSharp-Editor.csproj
/xx/Assembly-CSharp-firstpass.csproj
/xx/xx.sln
/xx/ProjectSettings/ProjectVersion.txt
/xx/UnityWebSocket.Runtime.csproj
/xx/Unity.CollabProxy.Editor.csproj
/xx/Unity.Rider.Editor.csproj
/xx/Unity.TextMeshPro.Editor.csproj
/xx/Unity.TextMeshPro.csproj
/xx/Unity.Timeline.Editor.csproj
/xx/Unity.Timeline.csproj
/xx/Unity.VSCode.Editor.csproj
/xx/UnityEditor.TestRunner.csproj
/xx/UnityEditor.UI.csproj
/xx/UnityEngine.TestRunner.csproj
/xx/UnityEngine.UI.csproj
